name: Checks

on: [push, pull_request]

jobs:
    checks:
        name: Checks
        runs-on: windows-latest
        steps:
        - uses: actions/checkout@v2
        - name: Format checks
          run: cargo fmt -- --check
        - name: Idiomatic checks
          run: cargo clippy -- -D warnings